$grid-size: 5;
$cell-size: 84px;

* {
	font-family: inherit;
}

:root {
	font-family: "Open Sans";
}

.container {
	margin: 0 auto;

	display: grid;
	grid-template-columns: repeat($grid-size, auto);
	grid-template-rows: repeat($grid-size, auto);
	grid-auto-flow: row;


	position: relative;
	// flex-wrap: wrap;
	width: $grid-size * $cell-size;
}

#inv {
	margin: 0 auto;

	display: grid;
	grid-template-columns: repeat($grid-size, auto);
	grid-template-rows: repeat($grid-size, auto);
	grid-auto-flow: row;


	position: relative;
	// flex-wrap: wrap;
	width: $grid-size * $cell-size;
}

.flipX {
	transform: scaleX(-1);
}

.flipY {
	transform: scaleY(-1);
}

img {
	image-rendering: pixelated;
}


.grid-item {
	img {
		flex-shrink: 0;
		min-height: 100%;
		position: absolute;
	}

	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	color: #fff;
	background-color: black;
	width: $cell-size;
	height: $cell-size;
	flex: 0 1 20%;
	background-size: cover;
	background-repeat: no-repeat;
	image-rendering: pixelated;
	// border: 1px solid #fff;
	position: relative;
}


.player {
	z-index: 10;
	width: $cell-size;
	height: $cell-size;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
}

#areaDiv {
	font-size: 2em;
	color: white;
	font-weight: 900;
	background-image: linear-gradient(white, black);
	width: 100%;
	position: absolute;
	bottom: -$cell-size / 2;
	height: 46px;
	text-align: center;

}

.fg {
	z-index: 9;
	width: $cell-size;
	height: $cell-size;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
}

.typewriter {
	overflow: hidden;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: 0.15em;
	animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

#speechbox {
	p {
		margin: 0px;
		padding: 8px;
	}

	height: $cell-size * 2;
	width: 100%;
	background-color: #330011;
	border: #efef2f solid 12px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	box-sizing: border-box;
	z-index: 10;
	color: white;
}

.attack {
	.fire {
		filter: sepia(100%) saturate(200%)
	}

	filter: none;
	transition: filter 1s;
}