$grid-size: 5;
$cell-size: 84px;

* {
	font-family: "Open Sans";
}

.container {
	margin: 0 auto;
	/*
	display: grid;
	grid-gap: none;
	grid-template-columns: repeat($grid-size, auto);
	grid-template-rows: repeat($grid-size, auto);
	grid-auto-flow: row;
	*/

	display: flex;
	position: relative;
	// flex-wrap: wrap;
	width: $grid-size * $cell-size;
	flex-flow: row wrap;
}

.flipX {
	transform: scaleX(-1);
}

.flipY {
	transform: scaleY(-1);
}

img {
	image-rendering: pixelated;
}


.grid-item {
	img {
		flex-shrink: 0;
		min-height: 100%;
		position: absolute;
	}

	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	color: #fff;
	background-color: black;
	width: $cell-size;
	height: $cell-size;
	flex: 0 1 20%;
	background-size: cover;
	background-repeat: no-repeat;
	image-rendering: pixelated;
	// border: 1px solid #fff;
	position: relative;
}

.player {
	z-index: 10;
}

.fg {
	z-index: 9;
	position: relative;
}

.typewriter {
	overflow: hidden;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: 0.15em;
	animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

#speechbox {
	p {
		padding: 16px;
	}

	height: $cell-size * 2;
	width: 100%;
}